.container-post-detail {

    .px-200 {
        padding: 0 200px;
    }

    .post-title {
        font-weight: 500;
    }

    .feature-item {
        margin-top: 1rem;
        font-size: larger;

        .post-label {
            display: inline-block;
            width: 200px;
        }

        .user-avatar{
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }

        .info-box{
            background-color: #f5f3fb;
            padding: 0 8px 8px 8px;
            border-radius: 12px;
            display: inline-block;
            margin-left: 8px;
        }
    }

    .nav-item.nav-link {
        cursor: pointer;
    }

    .mySwiper2 {
        height: 70%;
        width: 100%;
    }

    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;

        img {
            border: 2px solid rgb(0, 185, 142);
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 700px;
    }
}